@model Restaurantmanagment.Models.Viewmodel.UserRegViewmodel

@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h5 class="h5 mb-2 text-gray-800">Order Placed</h5><br />


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Order Placed Data   <a href="@Url.Action("ExportPdf","Admin")" class="btn btn-success btn-sm float-right"> Expot Pdf </a> </h6>
        </div>
        <div class="card-body">
            <input type="text" class="form-control bg-light border-0 small" id="myInput" onkeyup="searchFun()" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"><br />
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> id </th>
                            <td> User </td>
                            <th> Name </th>
                            <th> Quantity </th>
                            <th> price </th>
                            <th> Amount </th>
                            <th> Total </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    @if (Model.Item_list.Count > 0)
                    {

                        foreach (var item in Model.Item_list)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.uname  </td>
                                    <td>@item.name</td>
                                    <td>@item.quantity</td>
                                    <td>@item.price</td>
                                    <td>@item.amount</td>
                                    <td>@item.total</td>
                                    <td>

                                        @Html.ActionLink("Delete", "OrderDataDelete", new { @id = item.id }, new { @class = "btn btn-primary btn-sm" })

                                    </td>
                                </tr>
                            </tbody>

                        }
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<script>
    //Search Bar
    const searchFun = () => {
        let filter = document.getElementById('myInput').value.toUpperCase();
        let myTable = document.getElementById('myTable');

        let tr = myTable.getElementsByTagName('tr');
        for (var i = 0; i < tr.length; i++) {
            let td = tr[i].getElementsByTagName('td')[1];
            if (td) {
                let textvalue = td.textContent || td.innerHTML;
                if (textvalue.toUpperCase().indexOf(filter) > -1) {
                    tr[0].style.display = "";
                }
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>




