@model Restaurantmanagment.Models.Viewmodel.UserRegViewmodel

@{   
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/assets/css/login.css" rel="stylesheet" />

@using (Html.BeginForm("UserRegCreate", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <div class="login">
            <h3 class="text-center"> Registration here </h3>
            <hr />
            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group mb-3">
                    <label class="label"> Name </label>
                    @Html.EditorFor(model => model.User_Regobj.name,  new { @class = "form-control", @placeholder = "Name"   })
                    @Html.ValidationMessageFor(model => model.User_Regobj.name, "", new { @class = "text-danger" })

                </div>

                <div class="form-group mb-3">
                    <label class="label"> Email </label>
                    @Html.EditorFor(model => model.User_Regobj.email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.User_Regobj.email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-3">
                    <label class="label"> Password </label>
                    @Html.EditorFor(model => model.User_Regobj.password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.User_Regobj.password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-3">
                    <label class="label"> c-password </label>
                    @Html.EditorFor(model => model.User_Regobj.cpassword, new { @class = "form-control", @placeholder = "CPassword" })
                    @Html.ValidationMessageFor(model => model.User_Regobj.cpassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-3">
                    <label class="label"> Phone-no </label>
                    @Html.EditorFor(model => model.User_Regobj.phone, new { @class = "form-control", @placeholder = "Phone no" })
                    @Html.ValidationMessageFor(model => model.User_Regobj.phone, "", new { @class = "text-danger" })
                </div>

                <div class="form-check mb-2">                  
                    <a href="/Home/Login"> Login </a>
                </div>

                <button type="submit" class="btn btn-primary mt-2">Submit</button>

            </div>

        </div>



}